---
import "../style/style.css";
import Header_card from "../components/Header_card.astro"
import Chat_knap from "../components/Chat_knap.astro";
import Footer from "../components/Footer.astro";
import "../components/Polaroid_clips.astro";
import "../components/Polaroid_dot.astro";
import Letter1 from "../components/Letter1.astro";
import Letter2 from "../components/Letter2.astro";
import Letter3 from "../components/Letter3.astro";
import PolaroidDot from "../components/Polaroid_dot.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://use.typekit.net/fdn8esl.css">		
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
<title>Mød de frivillige!</title>
	</head>
	<body>
		<Header_card/>
		<Chat_knap/>
		<PolaroidDot/>
		<Letter1/>
		<div class="hjerte">
		<img src="/img/hjerte_gif.gif" alt="hjerte i flammer" >
	</div>
		<Letter2/>
		<div class="veninder">
		<img  src="/img/veninde_gif.gif" alt="piger der krammer">
	</div>
		<Letter3/>
		
		<Footer/>
		

	</body>
	<style>
		.letter{
			margin: 200px;
		}
	</style>
</html>
