---
import "../style/style.css";
import Header_card from "../components/Header_card.astro"
import Chat_knap from "../components/Chat_knap.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
<title>Mød de frivillige!</title>
	</head>
	<body>
		<h1>Astro</h1>
		<h3>test</h3>
		<p>test</p>
		<Header_card/>
		<Chat_knap/>

	</body>
</html>
