---
import "../style/style.css";
import Header_card from "../components/Header_card.astro"
import Chat_knap from "../components/Chat_knap.astro";
import Footer from "../components/Footer.astro";
import "../components/Letter.astro";
import "../components/Polaroid_clips.astro";
import "../components/Polaroid_dot.astro";
import PolaroidClips from "../components/Polaroid_clips.astro";
import Letter from "../components/Letter.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://use.typekit.net/fdn8esl.css">
		<link rel="stylesheet" href="https://use.typekit.net/fdn8esl.css">
		
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
<title>Mød de frivillige!</title>
	</head>
	<body>
		<Header_card/>
		<Letter/>
		<div class="hjerte">
		<img src="/img/hjerte_gif.gif" alt="Du er god nok" >
	</div>
		<Letter/>
		<div class="veninder">
		<img  src="/img/veninde_gif.gif" alt="">
	</div>
		<Letter/>
		
	
		<Chat_knap/>
		<Footer/>
		

	</body>
	<style>
		.letter{
			margin: 200px;
		}
	</style>
</html>
