---
import "../style/style.css";
---

<a class="chat-btn" href="https://www.girltalk.dk/vores-tilbud/chat-med-os/#chatmedos" target="_blank"><span class="red-circle"></span>Chat</a>

<style>
    .chat-btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: var(--hug_me_pink);
      border: #ffffff solid 1px;
      color: #fff; 
      border-radius: 20px; 
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
    }

    .red-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--love_red);
  border: #ffffff solid 2px;
  border-radius: 50%;
  margin-right: 5px;
}
</style>