---
import "../style/style.css";
---

  <article class="footer_desk">
    <div class="h_boxcontainer">
    <div class="h_box1"> </div>
    <div class="h_box2"></div>
    </div>
    <div class="img_box">
        <img class="tiktok_img" src="/img/tiktok.avif" alt="placeholder">
      </div>
      <h6>HOP IND PÅ VORES TIKTOK FOR AT FØLGE MED</h6>
  </article>





<style>
.footer_desk{
    position: relative;
    background-color: var(--power_blue);
    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    
}


h6{
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    color: var(--dreamy_white);
    padding-top: 2%;
    
}


.img_box{
    position: relative;
    display: grid;
    justify-items: center;
    grid-column: 2/3;
    grid-row: 2/3;
}


.tiktok_img{
    width: 55%;
    height: auto;
    z-index: 2;
   position: relative;
}

.h_boxcontainer {
    position: relative; 
}

.h_box2{
   position: absolute;
   background-color: var(--hug_me_pink);
   z-index: 1;
   width: 300%;
   height: 300%;
   top: 80%;
    left: 170%;
}

@media (max-width: 850px) {
    .footer_desk{
    position: relative;
    background-color: var(--power_blue);
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column-reverse;
}
.h_box2 {
        width: 50%; /* Ændrer bredden */
        height: 550px; /* Ændrer højden */
        background-color: var(--hug_me_pink); /* Ændrer farven */
        left: 21%; /* Justér placeringen */
    transform: translateY(-115%); 
    }

    h1{
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    color: var(--dreamy_white);
    padding: 3%;
    
}

.img_box{
    margin: 5%;
}

}

@media (max-width: 800px) {
.h_box2 {
        width: 50%; /* Ændrer bredden */
        height: 522px; /* Ændrer højden */
        background-color: var(--hug_me_pink); /* Ændrer farven */
        left: 21%; /* Justér placeringen */
    transform: translateY(-115%); 
    }
}
@media (max-width: 750px) {
  .h_box2 {
    width: 50%; /* Beholder den samme bredde */
    height: 485px ; /* Ændrer højden */
    background-color: var(--hug_me_pink); /* Beholder den samme farve */
    left: 21%; /* Beholder den samme placering */
    transform: translateY(-115%); /* Beholder den samme lodrette justering */
  }
}

@media (max-width: 700px) {
  .h_box2 {
    width: 50%; /* Beholder den samme bredde */
    height: 455px; /* Ændrer højden */
    background-color: var(--hug_me_pink); /* Beholder den samme farve */
    left: 21%; /* Beholder den samme placering */
    transform: translateY(-115%); /* Beholder den samme lodrette justering */
  }
}

@media (max-width: 650px) {
  .h_box2 {
    width: 50%; /* Beholder den samme bredde */
    height: 423px; /* Ændrer højden */
    background-color: var(--hug_me_pink); /* Beholder den samme farve */
    left: 21%; /* Beholder den samme placering */
    transform: translateY(-115%); /* Beholder den samme lodrette justering */
  }
}

@media (max-width: 600px) {
  .h_box2 {
    width: 50%; /* Beholder den samme bredde */
    height: 390px; /* Ændrer højden */
    background-color: var(--hug_me_pink); /* Beholder den samme farve */
    left: 21%; /* Beholder den samme placering */
    transform: translateY(-115%); /* Beholder den samme lodrette justering */
  }
}

@media (max-width: 550px) {
  .h_box2 {
    width: 50%; /* Beholder den samme bredde */
    height: 355px; /* Ændrer højden */
    background-color: var(--hug_me_pink); /* Beholder den samme farve */
    left: 21%; /* Beholder den samme placering */
    transform: translateY(-115%); /* Beholder den samme lodrette justering */
  }
}

@media (max-width: 500px) {
  .h_box2 {
    width: 50%; /* Beholder den samme bredde */
    height: 325px; /* Ændrer højden */
    background-color: var(--hug_me_pink); /* Beholder den samme farve */
    left: 21%; /* Beholder den samme placering */
    transform: translateY(-115%); /* Beholder den samme lodrette justering */
  }
}

@media (max-width: 450px) {
  .h_box2 {
    width: 50%; /* Beholder den samme bredde */
    height: 300px; /* Ændrer højden */
    background-color: var(--hug_me_pink); /* Beholder den samme farve */
    left: 21%; /* Beholder den samme placering */
    transform: translateY(-115%); /* Beholder den samme lodrette justering */
  }
}

@media (max-width: 400px) {
  .h_box2 {
    width: 50%; /* Beholder den samme bredde */
    height: 270px; /* Ændrer højden */
    background-color: var(--hug_me_pink); /* Beholder den samme farve */
    left: 21%; /* Beholder den samme placering */
    transform: translateY(-115%); /* Beholder den samme lodrette justering */
  }
}

@media (max-width: 350px) {
  .h_box2 {
    width: 50%; /* Beholder den samme bredde */
    height: 235px; /* Ændrer højden */
    background-color: var(--hug_me_pink); /* Beholder den samme farve */
    left: 21%; /* Beholder den samme placering */
    transform: translateY(-115%); /* Beholder den samme lodrette justering */
  }
}
</style>
