<article class="letter">
  <img class="tape top-right" src="/public/tape.png" alt="">
  <section class="first, grid_1-1" >

    <div class="polaroid">
      <img class="clips" src="/public/clips.svg" alt="">
    <img class="frivillig" src="/public/frederikke.png" alt="" />
    <h3 class="names">Navn</h3>
  </div>
<div>
    <p>Alder:</p>
    <p>Kælenavn:</p>
    <p>Skole/Job:</p>
  </div>
  </section>
  <section class="secound">
    <p>Hvad ville du sige til dit yngre jeg?:</p>
    <p>Fun fact:</p>
    <p>Når jeg er ked af det hjælper det at:</p>
    <p>3 ting på en øde ø:</p>
    <p>Guilty pleasure:</p>
    <p>Det bedste ved at være hos Girl Talk:</p>
  </section>
  <img class="tape bottom-left" src="/public/tape.png" alt="">

</article>


<style>
   body {
      margin: 0;
      padding: 0;
      z-index: 1;
    }
    
    .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
    article.letter {
   
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 60px;
  padding: 30px;
  padding-top: 60px;
  padding-bottom: 60px;

    }
    
    .p {
      font-weight: bolder;
    }
    
    .first {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 20px;
    }
    
    .secound p {
      width: calc(100% - 10px);
      margin-bottom: 25px;
    }

    .tape {
  position: absolute;
  width: 30%; 
  transform: rotate(45deg); 
}

.top-right {
  top: 10px;
  right: -35px;
}

.bottom-left {
  bottom: 10px;
  left: -35px;
}


    @media (min-width: 768px) {

        article.letter {
   
   position: relative;
display: flex;
flex-direction: column;
background-color: #ffffff;
margin: 70px;
padding: 100px;
padding-top: 60px;
padding-bottom: 60px;

}

      .first {
        align-items: center;
        margin-bottom: 40px;
      }
    
      .secound {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px; 
      }
    
      .secound p {
        width: calc(50% -20px);
      }

      .tape {
  position: absolute;
  width: 20%; 
  transform: rotate(45deg); 
  padding: 10px;
}

.top-right {
  top: 10px;
  right: -70px;
}

.bottom-left {
  bottom: 10px;
  left: -70px;
}
.polaroid img{
  position: relative;
top: 10%;
}
    }

    .polaroid {
  position: relative; 
  background-color: #FBFAF8;
  filter: drop-shadow(8px 12px 8px rgb(218, 216, 216));
  padding: 10px;
  margin: 0px;
  padding-bottom: 5px;
  text-align: center;
  max-width: 50%;
    z-index: 4;
top: -30%;
left: 8%;
transform: rotate(-5deg);
}

.frivillig {
  display: block;
  width: 100%;
  text-align: center;
}

.names {
  display: flex;
  justify-content: center;
  margin: 40px 0 10px;
  text-align: center;
}

.clips {
    display: flex;
  position: absolute; 
  top: -45px;
  width: 6%;
  justify-content: flex-end;
  z-index: 3;
}



</style>
