
  <section class="grid_1-1-1, white">
  <div class="pink-box">
    <div>
    <article class="polo">
    <div class="polaroid">
        <img class="dot" src="/public/dot.svg" alt="">
        <div class="center-content">
      <img class="frivillig" src="/public/frederikke.png" alt="" />
    </div>
      <h3 class="name"><a href="#Asta">Asta</a></h3>
    </div>
  </article>
</div>
<div>
  <article class="polo">
    <div class="polaroid">
      <img class="dot" src="/public/dot.svg" alt="">
      <div class="center-content">
    <img class="frivillig" src="/public/frederikke.png" alt="" />
  </div>
    <h3 class="name"><a href="#Esther">Esther</a></h3>
  </div>
</article>
</div>
<div>
<article class="polo">
  <div class="polaroid">
    <img class="dot" src="/public/dot.svg" alt="">
    <div class="center-content">
  <img class="frivillig" src="/public/frederikke.png" alt="" />
</div>
  <h3 class="name"><a href="#Frede">Frederikke</a></h3>
</div>
</article>
</div>
</div>
</section>
  


  <style>

    @media screen and (max-width: 800px) {
      .polo, .pink-box, .white {
        display: none;
      }
     
    }

    .white{
      background-color: white;
      padding: 5%;
    }

article{
  max-width: 80%;
}

.polaroid:hover{
  filter: grayscale(80%);
  cursor: pointer;
}
    
    .frivillig {
      display: block;
      width: 100%;
      text-align: center;
    }
    
    .name {
      display: flex;
      justify-content: center;
    margin: 40px;
      text-align: center;
      visibility: hidden;
    }
    
    .polaroid:hover .name {
      visibility: visible;
    }
    
    .dot {
        margin-top: -30px;
        margin-bottom: 20px;
        width: 8%;
    }

  .grid_1-1-1 {
  display: grid;
  grid-template-columns: (1fr 1fr 1fr);
  gap: 1rem;
}

.pink-box {
  display: flex;
  background-color: var(--hug_me_pink);
  gap: 10px;
  justify-content: center;
  margin:5%;
}

.polaroid {
  background-color: white;
  padding: 10px;
  margin: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
  padding-bottom: 5px;
  text-align: center;
  justify-content: center;
}

    </style>
    