<article>
  <div class="polaroid">
      <img class="clips" src="/public/clips.svg" alt="">
    <img class="frivillig" src="/public/frederikke.png" alt="" />
    <h3 class="names">Navn</h3>
  </div>
</article>

<style>
article {
    max-width: 50%;
}
    .polaroid {
  position: relative; 
  background-color: white;
  padding: -5px;
  margin: -20px;
  padding-bottom: 5px;
  text-align: center;
  max-width: 120%;
}

.frivillig {
  display: block;
  width: 100%;
  text-align: center;
}

.names {
  display: flex;
  justify-content: center;
  margin: 40px 0 10px;
  text-align: center;
}

.clips {
    display: flex;
  position: absolute; 
  top: -45px;
  width: 6%;
  justify-content: flex-end;
}
</style>